<style type="text/css">
	body {
		background-color: #fff; /* TODO: Need to fix this in Foundation, then remove here. */
	}
</style>
<div class="iframe-wrapper {{classlist}}" id="">
	<h1>Override template</h1>
	{{{markup}}}
</div>