<div class="id-kss-example-tabs">
	<nav>
		{{#each @root.options.themes}}
			<a href="#{{this.slug}}" class="{{this.slug}}">{{this.name}}</a>
		{{/each}}
	</nav>
<div class="id-kss-example-tabs-container">