<div class="id-kss-info-wrapper">
{{#each modifiers}}

	{{#unless (ifClassname className ../themehide)}}

		<div class="is-example-variant {{className}}">
			<div class="id-kss-class-name id-kss-modifier-name id-kss-style">
				{{name}}
			</div>
			<p class="id-kss-modifier-description id-kss-style">
				{{{description}}}
			</p>
			<div class="id-kss-modifier-example">
				<div class="id-kss-example-wrapper">

					<script type="text/template" class="template-iframe">
					{{#if ../template-override}}

						{{> (slug ../template-override) markup=markup classlist=../classes}}


					{{else}}

						{{#>iframetemplate markup=markup classlist=../classes}}
							{{>iframetemplate-base markup=../markup classlist=../../classes}}
						{{/iframetemplate}}

					{{/if}}
					</script>

					<div class="id-kss-example-iframe-handle"></div>
				</div>
				<div class="id-kss-modifier-example-footer"></div>
			</div>
		</div>
	{{/unless}}
{{/each}}
</div>