{{#unless @root.template.isHomepage}}
<div class="id-kss-sidebar id-kss-style">
	<nav class="id-kss-nav" aria-label="Style Guide">
		{{#with (activeMenu menu)}}
			<ul class="id-kss-nav-menu">
			  {{#each children}}
				{{> list-item}}
			  {{/each}}
			</ul>
		{{/with}}
	</nav>
</div>
{{/unless}}