<form role="search" class="id-kss-search">
	<fieldset>
		<legend class="screen-reader-text">
			<span>Search</span>
		</legend>

		<label for="q">
			<span class="screen-reader-text">Search for available components:</span>
			<input name="q" type="text" aria-label="Search" id="kss-search-field" class="id-kss-search-field" placeholder="Search available components" title="Search for available components:">
		</label>
		<button id="kss-search-button" class="id-kss-search-button" type="submit" name="do_search"><span class="screen-reader-text">Search</span></button>
	</fieldset>
</form>