.id-kss-main {
	padding: $padding;
	padding-top: $padding + 50px;

	@include breakpoint( $toggle-desktop-layout ) {
		padding-left: $sidebar-width + 3%;
	}
}

#id-kss-toolbar {
	display: flex;
	justify-content: end;
	margin-bottom: $margin;
}