.id-kss-main {
	padding: $padding;
	padding-top: $padding + 50px;

	@include breakpoint( $toggle-desktop-layout ) {
		padding-left: $sidebar-width + 3%;
	}
}

#id-kss-toolbar {
	display: flex;
	justify-content: end;
	margin-bottom: $margin;
}

iframe {
	border: 1px dashed lightblue;
	height: 100%;
	width: 100%;
}

.id-kss-docs-heading {
	display: flex;
	font-weight: 700;
	align-items: center;
	margin-left: -$margin;
	margin-right: -$margin;
	border-bottom: 1px solid $color-grayscale-d;
	border-top: 1px solid $color-grayscale-d;
	padding: $padding-small/2 $padding;
	margin-bottom: $margin;
}

.id-kss-source {
	@extend %icon-github;
	@extend %font-size-minimum;
	color: $color-grayscale-0;
	font-weight: 700;
	margin-left: auto;
	text-decoration: none;

	&::before {
		margin-right: 0.25em;
		margin-top: -2px;
	}
}