@font-face {
  font-family: "TiemposHeadline";
  src: url("https://www.bu.edu/cdn/fonts/TiemposHeadline/TiemposHeadline-Light.eot");
  src: url("https://www.bu.edu/cdn/fonts/TiemposHeadline/TiemposHeadline-Light.eot?#iefix") format("embedded-opentype"),
       url("https://www.bu.edu/cdn/fonts/TiemposHeadline/TiemposHeadline-Light.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "TiemposHeadline";
  src: url("https://www.bu.edu/cdn/fonts/TiemposHeadline/TiemposHeadline-Light-Italic.eot");
  src: url("https://www.bu.edu/cdn/fonts/TiemposHeadline/TiemposHeadline-Light-Italic.eot?#iefix") format("embedded-opentype"),
       url("https://www.bu.edu/cdn/fonts/TiemposHeadline/TiemposHeadline-Light-Italic.woff") format("woff");
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: "TiemposHeadline";
  src: url("https://www.bu.edu/cdn/fonts/TiemposHeadline/TiemposHeadline-Regular.eot");
  src: url("https://www.bu.edu/cdn/fonts/TiemposHeadline/TiemposHeadline-Regular.eot?#iefix") format("embedded-opentype"),
       url("https://www.bu.edu/cdn/fonts/TiemposHeadline/TiemposHeadline-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "TiemposHeadline";
  src: url("https://www.bu.edu/cdn/fonts/TiemposHeadline/TiemposHeadline-Regular-Italic.eot");
  src: url("https://www.bu.edu/cdn/fonts/TiemposHeadline/TiemposHeadline-Regular-Italic.eot?#iefix") format("embedded-opentype"),
       url("https://www.bu.edu/cdn/fonts/TiemposHeadline/TiemposHeadline-Regular-Italic.woff") format("woff");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "TiemposHeadline";
  src: url("https://www.bu.edu/cdn/fonts/TiemposHeadline/TiemposHeadline-Medium.eot");
  src: url("https://www.bu.edu/cdn/fonts/TiemposHeadline/TiemposHeadline-Medium.eot?#iefix") format("embedded-opentype"),
       url("https://www.bu.edu/cdn/fonts/TiemposHeadline/TiemposHeadline-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "TiemposHeadline";
  src: url("https://www.bu.edu/cdn/fonts/TiemposHeadline/TiemposHeadline-Medium-Italic.eot");
  src: url("https://www.bu.edu/cdn/fonts/TiemposHeadline/TiemposHeadline-Medium-Italic.eot?#iefix") format("embedded-opentype"),
       url("https://www.bu.edu/cdn/fonts/TiemposHeadline/TiemposHeadline-Medium-Italic.woff") format("woff");
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: "TiemposHeadline";
  src: url("https://www.bu.edu/cdn/fonts/TiemposHeadline/TiemposHeadline-Semibold.eot");
  src: url("https://www.bu.edu/cdn/fonts/TiemposHeadline/TiemposHeadline-Semibold.eot?#iefix") format("embedded-opentype"),
       url("https://www.bu.edu/cdn/fonts/TiemposHeadline/TiemposHeadline-Semibold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "TiemposHeadline";
  src: url("https://www.bu.edu/cdn/fonts/TiemposHeadline/TiemposHeadline-Semibold-Italic.eot");
  src: url("https://www.bu.edu/cdn/fonts/TiemposHeadline/TiemposHeadline-Semibold-Italic.eot?#iefix") format("embedded-opentype"),
       url("https://www.bu.edu/cdn/fonts/TiemposHeadline/TiemposHeadline-Semibold-Italic.woff") format("woff");
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: "TiemposHeadline";
  src: url("https://www.bu.edu/cdn/fonts/TiemposHeadline/TiemposHeadline-Bold.eot");
  src: url("https://www.bu.edu/cdn/fonts/TiemposHeadline/TiemposHeadline-Bold.eot?#iefix") format("embedded-opentype"),
       url("https://www.bu.edu/cdn/fonts/TiemposHeadline/TiemposHeadline-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "TiemposHeadline";
  src: url("https://www.bu.edu/cdn/fonts/TiemposHeadline/TiemposHeadline-Bold-Italic.eot");
  src: url("https://www.bu.edu/cdn/fonts/TiemposHeadline/TiemposHeadline-Bold-Italic.eot?#iefix") format("embedded-opentype"),
       url("https://www.bu.edu/cdn/fonts/TiemposHeadline/TiemposHeadline-Bold-Italic.woff") format("woff");
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: "TiemposHeadline";
  src: url("https://www.bu.edu/cdn/fonts/TiemposHeadline/TiemposHeadline-Black.eot");
  src: url("https://www.bu.edu/cdn/fonts/TiemposHeadline/TiemposHeadline-Black.eot?#iefix") format("embedded-opentype"),
       url("https://www.bu.edu/cdn/fonts/TiemposHeadline/TiemposHeadline-Black.woff") format("woff");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "TiemposHeadline";
  src: url("https://www.bu.edu/cdn/fonts/TiemposHeadline/TiemposHeadline-Black-Italic.eot");
  src: url("https://www.bu.edu/cdn/fonts/TiemposHeadline/TiemposHeadline-Black-Italic.eot?#iefix") format("embedded-opentype"),
       url("https://www.bu.edu/cdn/fonts/TiemposHeadline/TiemposHeadline-Black-Italic.woff") format("woff");
  font-style: italic;
  font-weight: 900;
}