$id-kss-colors-background: #25344b;

.id-kss-header {
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: $z-index-primarynav;
}

.id-kss-header-bar {
	@include box-shadow( 0px 0px 40px 0px rgba( 0, 0, 0, 0.25 ) );
	align-items: center;
	background: $id-kss-colors-background;
	background: linear-gradient( to right, darken( $id-kss-colors-background, 5% ), $id-kss-colors-background );
	display: flex;
	padding: $padding-small $padding;
	width: 100%;
}

.id-kss-doc-title {
	@extend %font-size-5;
	color: $color-grayscale-f;
	font-family: $font-family-sans-serif;
	margin-bottom: 0;
	max-width: $sidebar-width - $padding;
	padding-right: $padding;

	a {
		color: inherit;
		text-decoration: none;
	}
}

.id-kss-header-wrapper {
	flex-grow: 1;
}

.id-kss-main-nav {
	text-align: right;
}

.id-kss-main-nav-link {
	color: $color-grayscale-f;
	margin: 0 $margin-small;
	position: relative;
	text-decoration: none;

	&:visited {
		color: $color-grayscale-f;
	}

	&.active {
		&::after {
			background: $color-grayscale-f;
			bottom: -8px;
			content: '';
			display: block;
			left: 50%;
			height: 3px;
			margin-left: -15px;
			position: absolute;
			width: 30px;
		}
	}
}

.id-kss-search {
	//margin-left: $margin;
}

#id-kss-toolbar {
	color: #fff;
	display: flex;
	justify-content: end;
	margin-left: $margin;
}