.id-kss-homepage {

	@include breakpoint( $toggle-desktop-layout ) {
		margin: 0 auto;
		max-width:1200px;
		padding-top:100px;
	}

}

.id-homepage-content {
	margin:0 20% 50px 20%;
}


.id-homepage-nav .id-kss-nav-menu-parent {
	@extend %font-size-2;
	margin-bottom:$margin;
}

.id-homepage-nav .id-kss-nav-menu-child-section {
	@extend %clearfix;
}

.id-homepage-nav .id-kss-nav-menu > .id-kss-nav-menu-item {
	border-bottom:1px solid $color-grayscale-d;
	margin-bottom:$margin;
	padding:0;
	padding-bottom:$margin;
}

.id-homepage-nav .id-kss-nav-menu > .id-kss-nav-menu-item > .id-kss-nav-menu-child-section > .id-kss-nav-menu-item {

	@include breakpoint( $toggle-desktop-layout ) {
		float:left;
		width:20%;
	}
}

.id-kss-search {
	fieldset {
		border:none;
		margin:0;
		padding:0;
		position:relative;
	}
	.id-kss-search-field {
		background:$color-grayscale-e;
		border:none;
		padding:10px 50px 10px 15px;
		width:100%;
	}
	.id-kss-search-button {
		border:none;
		bottom:0;
		background:none;
		position:absolute;
		right:0;
		top:0;
		//@extend %hide-text;
		@extend %icon-search;

		&::before {

		}
	}
}

.screen-reader-text {
	@extend %visually-hidden;
}